@import "colors.css";
* {
    border: none;
    border-radius: 0;
    font-family: Fira Sans, Fira Code NerdFont;
    font-size: 12pt;
    margin: 1.8px 15px 1.8px 15px;
}

#waybar {
    color: @text_color;
    background-color: @bg_color;
    min-height: 20px;
}

#workspaces button {
    margin: 0px 0px 0px 0px;
}

#workspaces button.visible {
    background-color: @selected_bg_color;
}

#workspaces button.focused {
    background-color: @selected_bg_color;
}

#temperature.cpu {
    margin: 1.8px 5px 1.8px 15px;
}

#temperature.gpu {
    margin: 1.8px 15px 1.8px 5px;
}
