# aliases
alias wrye='protontricks -c "wine Mopy/Wrye\ Bash.exe" 489830'
alias yay='paru'
alias ls='exa'
alias top='btm'
alias doco="docker-compose"
alias cat=''
alias lzd="lazydocker"
alias jqless="jq -C | less -R"
alias dragon="dragon-drag-and-drop"
alias fzf="fzf --color=16"
alias vim="nvim"
alias vi="nvim"
alias v="nvim"
alias nmutt="neomutt"
alias mutt="neomutt"
alias m="neomutt"
