/* %%base16_template: styles##css-variables %%
/* Pasque by Gabriel Fontes (https://github.com/Misterio77) */

:root {
  --base00: #271C3A;
  --base01: #100323;
  --base02: #3E2D5C;
  --base03: #5D5766;
  --base04: #BEBCBF;
  --base05: #DEDCDF;
  --base06: #EDEAEF;
  --base07: #BBAADD;
  --base08: #A92258;
  --base09: #918889;
  --base0A: #804ead;
  --base0B: #C6914B;
  --base0C: #7263AA;
  --base0D: #8E7DC6;
  --base0E: #953B9D;
  --base0F: #59325C;
}

/* %%base16_template_end%%
*/


/* Accent = 02
 * Background = 00
 * Header bg = 01
 *
 */

.theme-dark {
    --header-primary: var(--base04);
    --header-secondary: var(--base05);
    --text-normal: var(--base05);
    --text-muted: var(--base04);
    --text-link: var(--base08);
    --channels-default: var(--base05);
    --interactive-normal: var(--base03);
    --interactive-hover: var(--base05);
    --interactive-active: var(--base05);
    --interactive-muted: var(--base03);
    --background-primary: var(--base00);
    --background-secondary: var(--base00);
    --background-secondary-alt: var(--base01);
    --background-tertiary: var(--base01);
    --background-accent: var(--base02);
    --background-floating: var(--base00);
    --background-mobile-primary: var(--background-primary);
    --background-mobile-secondary: var(--background-secondary);
    --scrollbar-thin-thumb: var(--base02);
    --scrollbar-auto-thumb: var(--base02);
    --scrollbar-auto-track: var(--base01);
    --scrollbar-auto-scrollbar-color-thumb: var(--base02);
    --scrollbar-auto-scrollbar-color-track: var(--base01);
    --focus-primary: var(--base08);
    --channeltextarea-background: var(--base01);
}
.scroller-2FKFPG {
    background-color: var(--base00);
}
.headerPlaying-j0WQBV, .headerStreaming-2FjmGz {
    background: var(--base08);
}
.theme-dark .headerNormal-T_seeN {
    background-color: var(--base00);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--base00);
    color: var(--base06);
}
.theme-dark .quickMessage-1yeL4E {
    background-color: var(--base01);
    border-color: var(--base01);
}
.theme-dark .inset-3sAvek {
    background-color: var(--base01);
}
