[Unit]
Description=OpenRGB control
[Unit]
Description="OpenRGB daemon"

[Service]
StartLimitBurst=20
Type=exec
ExecStart=/usr/bin/openrgb --server
Restart=no

[Install]
WantedBy=default.target
