[Unit]
Description="Misterio rgb daemon"

[Service]
StartLimitBurst=20
Type=exec
WorkingDirectory=/home/misterio
ExecStart=/home/misterio/bin/rgbdaemon
Restart=no
After=openrgb.service ckb-next.service

[Install]
WantedBy=default.target
