[Unit]
Description="Wf screencast"

[Service]
Type=exec
WorkingDirectory=/home/misterio
ExecStart=/home/misterio/bin/screencast
Restart=no

[Install]
WantedBy=default.target 
